.item{
    width: fit-content;
    cursor: pointer;
}
.item p{
    margin: 6px 0;
}
.item-prices{
    display: flex;
}
.item img{
    width: 250px;
}
.item:hover{
    scale: 1.02;
    transition: 0.3s ease-in-out ;
}
@media only screen and (max-width: 400px){
    .item img{
        width: 150px;
    }
    .item p{
        width: 140px;
    }
}